---
---

@import 'elements';
@import 'variables';

.win {
    display: none;
}

html {
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #737373;
  text-align: center;
  margin: 0;
  height: 100%;

  a {
    color: #2874B6;
  }
}

.content {
  height: 100%;
}

h1, h2, h3 {
  
}

h1 {
  color: #474747;
}

h2 {
  color: #4C4C4C;
  font-size: 34px;
  font-weight: bold;
}

h3 {
  color: #474747;
  font-size: 38px;
  font-weight: normal;
}

p {
  margin: 0;
  font-size: 18px;
  color: #6F6F6F;
  line-height: 1.5;
}

.logo {
  display: inline-block;
  float: left;
  margin: 25px 0 0 80px;
}

.cta {
  background: #2874B6;
  padding: 60px 0;
  text-align: center;
  
  h2 {
    color: #fff;
  }
  
  .button {
    background: #fff;
    color: $blue;
    border: none;
    
    &:hover, &:focus {
      color: $blue;
      background: darken(#fff, 5%);
    }
  }
}

.full {
  width: 100%;
}


body .footer {
  background: #f7f7f7;
  padding: 60px 0;
  text-align: left;
  
  p {
    color: #929292;
    text-decoration: none;
    font-size: 14px;
    margin-top: 60px;  
    padding: 0;
  }

  div ul {
    margin: 0;
    padding: 0;
    position: relative;

    li {
      position: relative;
      margin-bottom: 8px;
      list-style: none;
      line-height: 1.3;
      
      a {
        color: #929292;
        text-decoration: none;
        font-size: 14px;
        
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .footer div ul li {
    width: 100%;
    margin: 0;
    
    &:after {
      display: none;
    }
  }
}
