---
---

@import 'elements';
@import 'variables';

.win {
    display: none;
}

html {
  height: 100%;

  * {
    box-sizing: border-box;
  }
}

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  color: #737373;
  text-align: center;
  margin: 0;
  height: 100%;

  a {
    color: #2874B6;
  }
}

.content {
  height: 100%;
}

h1, h2 {
  font-family: "Cabin";
}

h1 {
  color: #474747;
}

h2 {
  color: #4C4C4C;
  font-size: 33px;
  font-weight: bold;
}

p {
  margin: 0;
  font-size: 18px;
  color: #676767;
  line-height: 1.5;
}

.logo {
  position: absolute;
  top: 70px;
  left: 70px;
  padding: 0 0 40px;

  img {
    opacity: .20;
  }
}

.cta {
  background: #2874B6;
  padding: 60px 0;
  
  h2 {
    color: #fff;
  }
  
  .button {
    background: #fff;
    color: $blue;
    border: none;
    
    &:hover, &:focus {
      color: $blue;
      background: darken(#fff, 5%);
    }
  }
}

.footer {
  background: #f7f7f7;
  padding: 60px 0;
  
  .row {
    margin-bottom: 0;
  }

  div ul {
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;

    li {
      display: inline-block;
      position: relative;
      margin-right: 40px;

      a {
        color: #929292;
        text-decoration: none;
        font-size: 14px;
        
        &:hover {
          text-decoration: underline;
        }
      }

      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 10px;
        right: -25px;
        width: 6px;
        height: 6px;
        background: #D8D8D8;
        border-radius: 3px;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .footer div ul li {
    width: 100%;
    margin: 0;
    
    &:after {
      display: none;
    }
  }
}
