---
---

@import 'elements';

.hero-wrapper {
  background: #fff;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  max-height: 810px;
  position: relative;

  .tagline-container {
    position: relative;
    height: 100%;
    width: 60%;
    padding: 70px;

    .tagline {
      text-align: left;
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
      max-width: 600px;

      h1 {
        font-weight: normal;
        font-size: 34px;
        margin: 0;
        padding: 0 0 30px 0;
        letter-spacing: 0px;
        clear: both;
      }

      p {
        font-size: 24px;
        font-weight: lighter;
        color: #767676;
        padding: 0 0 52px 0;
      }
      
      .download-btn {
        display: inline-block;
        background: #2874B6;
        color: #fff;
        font-size: 16px;
        border: none;
        border-radius: 3px;
        padding: 4px 42px;
        height: auto;
        -webkit-appearance: none;
        text-decoration: none;

        &:hover {
          background: darken(#2874B6, 5%);
          color: #fff;
        }
      }

      form {
        .field-wrapper {
          position: relative;
          display: flex;
          
          .button-wrapper {
              display: inline-block;
              text-align: center;
              
              a {
                  width: 100%;
              }
          
              .download {
                  display: block;
                  font-size: 12px;
                  width: 100%;
                  text-align: center;
                  color: #a3a3a3;
                  margin-top: 14px;
                  
                  a {
                      margin-left: 4px;
                      color: #a3a3a3;
                  }
              }
          }          

          input[type=text],
          input[type=password],
          input[type=email] {
            width: 292px;
          }
        }
      }
    }
  }
}

.testimonial-wrapper {
  // Fill width bg
  background: #f7f7f7;
}

.testimonials {
  padding: 80px 0 20px 0;
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: flex-end;
    
    .testimonial {
      margin: 0px auto;
      max-width: 275px;
      margin-bottom: 60px;
    
      .bubble {
        background: #fff;
        padding: 20px;
        position: relative;
        box-shadow: 0px 1px 0px rgba(0,0,0,.10);
        
        p {
          color: #494949;
          font-size: 16px;
          
          span {
            font-family: Georgia, Times, serif;
          }
        }
        
        &:after, &:before {
          content: "";
          position: absolute;
          bottom: -15px;
          left: 50%;
          margin-left: -15px;
          @include triangle(30px, "down", #fff);
        }
        
        &:before {
          bottom: -16px;
          @include triangle(30px, "down", rgba(0,0,0,.10));
        }
      }
    
      .author {
        margin: 0px auto;
        margin-top: 24px;
        text-align: center;
        
        img {
          border: 3px solid #fff;
          box-shadow: 1px 1px 1px rgba(0,0,0,.15);
          width: 46px;
          height: 46px;
          margin-right: 4px;
          @include border-radius(30px);
        }
        
        .name {
          color: #164977;
          font-size: 17px;
          padding-top: 11px;
          width: 100%;
          text-decoration: none;
          position: relative;
          top: -16px;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.features {
  text-align: left;
  padding-top: 55px;
  padding-bottom: 55px;
  
  .feature {
    padding: 45px 0;
    
    .copy {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    
    p {
      margin-bottom: 24px;
    }
  
    a {
      text-decoration: none;
      font-size: 20px;
      
      &:hover {
        text-decoration: underline;
      }
    }
    
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 1230px) {
  .hero-wrapper {
    .tagline-container {
      width: 50%;
      
      .tagline {
        max-width: 400px;
        
        h1 {
          font-size: 31px;
        }

        form {
          .field-wrapper {
            max-width: 400px;
            display: block;

            input[type="email"], .button-wrapper {
              width: 100%;
              margin-bottom: 15px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1118px) {
   #app-demo {
    .laptop {
      @include transform-origin(bottom right);
      @include transform(scale(.9));
    }
  }
}

@media (max-width: 1000px) {
   #app-demo {
    .laptop {
      @include transform(scale(.8));
    }
  }
}

@media (max-width: 860px) {
  .hero-wrapper #app-demo {
    width: 100%;
  }
  
  .hero-wrapper {
    display: block;
    height: auto;
    max-height: none;

    .tagline-container {
      width: 100%;

      .tagline {
        text-align: center;
        @include transform(none);
        padding-top: 70px;
        max-width: inherit;

        form {
          .field-wrapper {
            max-width: 60%;
            margin: 0px auto;
          }
        }
      }
    }
  }

  .logo {
    position: absolute;
    left: 50%;
    @include transform(translateX(-50%));
    padding: 0 0 40px;

    img {
      opacity: .20;
    }
  }
}

@media (max-width: 766px) {
  .testimonials ul {
    display: block;
  }
  
  .features {
    .feature {
      text-align: center;
    
      h2 {
        font-size: 30px;
      }
    }
  }
}

@media (max-width: 600px) {
   #app-demo {
    .laptop {
      @include transform(scale(.65));
    }
  }
  
  .hero-wrapper {
    .tagline-container {
      padding: 70px 40px 40px 40px;

      .tagline {
        p {
          font-size: 21px;
        }
        form {
          .field-wrapper {
            max-width: 100%;
          }
        }
      }
    }
  }
}