---
---

@import 'elements';

.page {
  text-align: left;
  
  h3 {
    text-align: center;
    margin-bottom: 10px;
    
    &+p {
      color: #646464;
      font-size: 22px;
      text-align: center;
      padding-top: 0;
      font-weight: lighter;
    }
  }

  .intro {
    background: #F5F7F9;
    font-size: 21px;
    
    p {
      font-size: 22px;
      font-weight: lighter;
      color: #595C62;
      padding: 80px 0;
    }
  }
  
  .uptime {
    clear: both;
    padding-bottom: 100px;
    
    .stat {
      text-align: center;
      border-radius: 6px;
      border: 2px solid #D8D8D8;
      padding: 35px 0;
      margin-top: 60px;
      
      * {
        display: block;
      }
      
      .label, .value .suffix {
        color: #787878;
        font-size: 20px;
        font-weight: normal;
      }
      
      .value {
        font-size: 65px;
        color: #4658B1;
        font-weight: bold;
        position: relative;
        
        .suffix {
          content: "%";
          position: absolute;
          font-size: 30px;
          display: inline;
          bottom: 12px;
          font-weight: lighter;
        }
      }
      
      .suffix {
        font-size: 30px;
        position: absolute;
      }
    }
  }

  .page-content {
    ul {
      padding: 0;
      list-style: none;
      text-align: left;
    }

    h2 {
      margin: 0;
      a {
        text-decoration: none;
      }
    }
  }
  
  .feature {
    text-align: left;
    float: left;
    padding-top: 80px;
    
    &:nth-child(3), &:nth-child(4) {
      padding-bottom: 120px;
    }
    
    h2 {
      font-size: 20px;
    }
  
    p {
      font-size: 16px;
      padding: 16px 0 0;
    }
  }
  
  .tools {
    margin-top: 40px;
    
    img {
      width: 210px;
      height: 210px;
      background: #fff;
      box-sizing: border-box;
      margin-right: 30px;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;      
      float: left;
    }
    
    p {
      font-size: 16px;
      padding: 20px 0 30px 0;
    }
    
    li {
      padding: 20px;
      margin-bottom: 40px;
      min-height: 250px;
    }
  }
}

.page-header {
  width: 100%;
  text-align: center;
  background: #2874B6;
  
  nav {
    height: 100px;
    font-size: 14px;
    
    .logo, ul {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    
    .logo {
      padding: 0;
      
      img {
        opacity: 1;
      }
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      right: 0;
      left: auto;
      text-align: right;
    
      li {
        margin: 0 0 0 40px;
        display: inline-block;
        
        a {
          text-decoration: none;
          color: #fff;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  
  .page-subheader {
    min-height: 190px;
    
    h1 {
      font-size: 38px;
      color: #fff;
      margin: 35px 0 10px 0;
    }
    
    p {
      color: #fff;
      opacity: .80;
      padding: 0;
      -webkit-font-smoothing: antialiased;
      font-size: 23px;
    }
    
    img {
      padding: 20px 0;
      box-sizing: content-box;
      width: 100%;
      height: auto;
      max-width: 516px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .page {
    .feature {
      &:nth-child(3) {
        padding-bottom: 0;
      }
    }
    .page-content {
      .tools {
        text-align: center;
    
        img {
          float: none;
          margin: 0px auto;
          margin-bottom: 30px;
        }
    
        p {
          text-align: center;
        }
      }
    }
  }
}