      {% if page.cta != false %}
      <div class="cta" style="background-image: url('/images/{{ page.header_pattern }}.png'); background-color: #{{ page.color }};')">
        <div class="container">
          <div class="row">
            <div class="sixteen columns">
              <h2>Ready to communicate better?</h2>
              <div class="cta-btn mac">
                <a href="{{ site.download_url_mac }}" class="button download-btn" style="color: #{{ page.color }};">Download for Mac</a>
                <span class="download">For OSX 10.8 or later. Download for <a href="{{ site.download_url_win }}">Windows</a> or <a href="{{ site.download_url_linux }}">Linux</a></span>
              </div>
              <div class="cta-btn win">
                <a href="{{ site.download_url_win }}" class="button download-btn" style="color: #{{ page.color }};">Download for Windows</a>
                <span class="download">For Windows 7 or later. Download for <a href="{{ site.download_url_mac }}">Mac</a> or <a href="{{ site.download_url_linux }}">Linux</a></span>
              </div>
              <div class="cta-btn linux">
                <a href="{{ site.download_url_linux }}" class="button download-btn" style="color: #{{ page.color }};">Download for Linux</a>
                <span class="download">Download for <a href="{{ site.download_url_mac }}">Mac</a> or <a href="{{ site.download_url_win }}">Windows</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
    
      <div class="footer">
        <div class="container">
          <div class="row">
            <div class="four columns">
              <h4>Speak</h4>
              <ul>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="http://help.speak.io/">Help Center</a></li>
                <li><a href="http://help.speak.io/article/29-get-in-touch-with-the-team">Contact Us</a></li>
                <li><a href="/changelog">Changelog</a></li>
                <li><a href="/roadmap">Roadmap</a></li>
              </ul>
            </div>
            <div class="four columns">
              <h4>Community</h4>
              <ul>
                <li><a href="https://twitter.com/speak_io">Follow Speak on Twitter</a></li>
                <li><a href="/tools-for-remote-workers-digital-nomads">Tools for Remote Workers</a></li>
                <li><a href="http://blog.speak.io">The Speak Blog</a></li>
                <li><a href="/resources">Resources</a></li>
              </ul>
            </div>
            <div class="four columns">
              <h4>Compare</h4>
              <ul>
                <li><a href="/comparison/speak-vs-skype">Skype Alternative</a></li>
                <li><a href="/comparison/speak-vs-google-hangouts" title="Google Hangouts Alternative">Hangouts Alternative</a></li>
                <li><a href="/comparison/speak-vs-gotomeeting">GoToMeeting Alternative</a></li>
                <li><a href="/comparison/speak-vs-webex">Webex Alternative</a></li>
                <li><a href="/comparison/speak-vs-carrier-pigeons">Carrier Pigeon Alternative</a></li>
              </ul>
            </div>
            <div class="four columns">
              <h4>Features</h4>
              <ul>
                <li><a href="/features/built-for-teams">Built for Teams</a></li>
                <li><a href="/features/fast-and-reliable">Fast &amp; Reliable</a></li>
                <li><a href="/features/team-presence">Team Presence</a></li>
                <li><a href="/features/video-and-screensharing">Video &amp; Screensharing</a></li>
                <li><a href="/features/virtual-office-software">Virtual Office Software</a></li>
                <li><a href="/features/group-video-and-audio-calls">Group Calls</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
