    {% if page.header_pattern %}
    <div class="page-header" style="background-image: url('/images/{{ page.header_pattern }}.png'); background-color: #{{ page.color }};')">
    {% else %}
    <div class="page-header" style="background-color: #{{ page.color }}">
    {% endif %}
    
      {% include nav.html %}
      <div class="page-subheader">
          <div class="container">
            <div class="sixteen columns">
              <h1>{{ page.title }}</h1>
              {% if page.subtitle %}
              <p>
                {{ page.subtitle }}
              </p>
            {% endif %}
              {% if page.header_image %}
                <div class="header-image">
                  <img src="/images/{{ page.header_image }}.png" alt="{{page.title}}" width="516" height="289" />
                </div>
              {% endif %}
            </div>
          </div>
      </div>
    </div>
    
    {% if page.header_description && page.description %}
    <div class="bar">
      <div class="container">
        <div class="fifteen offset-by-one columns">
          <p>
            {{ page.description }}
          </p>
        </div>
      </div>
    </div>
    {% endif %}