// Animation timings


/*.app-demo.animate {
  .dock > li {
    -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275); 
    -webkit-animation-fill-mode: forwards;
    -webkit-animation-name: bounce-in;
    -webkit-animation-duration: .5s;
    &:nth-child(2) { -webkit-animation-delay: .5s; }
    &:nth-child(3) { -webkit-animation-delay: 1s; }
    &:nth-child(4) { -webkit-animation-delay: 1.5s; }
    &:nth-child(5) { -webkit-animation-delay: 2s; }
  }
}
@-webkit-keyframes bounce-in {
  100% { transform: translate3d(55px,0,0); }
}*/

.app-demo.bounce-in {
  .dock > li {
    transform: translate3d(55px,0,0);
    &:first-child { transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    &:nth-child(2) { transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 400ms; } 
    &:nth-child(3) { transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 800ms; }
    &:nth-child(4) { transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1200ms; }
    &:nth-child(5) { transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) 1600ms; }
  }
}

.app-demo.mouse-fade-in {
  .cursor {
    opacity: 1;
  }
}

.app-demo.mouse-move-tooltip {
  .cursor {
    top: 250px;
    left: 10px;
  }
}

.app-demo.face-active {
  .dock > li:nth-child(2) {
    transform: translate3d(65px,0,0);
  }
}

.app-demo.tooltip-fade-in {
  .tooltip {
    opacity: 1;
  }
}

.app-demo.mouse-hover-tooltip {
  .cursor {
    top: 270px;
    left: 110px;
  }
}

.app-demo.highlight-video-call  {
  .tooltip .menu li:nth-child(2) a {
    color: #fff;
    background-color: #4A90E2;

    i.icon {
      &.icon-video-camera, 
      &.icon-video-camera-enabled,
      &.icon-video-camera-disabled { @include image-icon('tooltip-icon-video-camera-hover'); }
      color: #fff;
      -webkit-font-smoothing: antialiased;
    }
  }
}

.app-demo.tooltip-fade-out {
  .tooltip {
    opacity: 0;
  }
}

.app-demo.bounce-out {
  .dock > li {
    transform: translate3d(0,0,0) !important;
    transition: transform 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275) !important;
  }
}

.app-demo.video-fade-in {
  .video-window {
    opacity: 1;
  }
}

.app-demo.video-show-toolbar {
  #video-toolbar {
    opacity: 1;
    top: 16px;
  }
}

.app-demo.mouse-hover-end-call {
  .cursor {
    top: 110px;
    left: 350px;
  }
}

.app-demo.mouse-click-end-call-on {
  #video-toolbar li:nth-child(4) {
    box-shadow: none;
    @include scale(0.95);
  }
}

.app-demo.mouse-click-end-call-off {
  #video-toolbar li:nth-child(4) {
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    @include scale(1);
  }
}

.app-demo.video-fade-out {
  .video-window {
    opacity: 0;
  }
}
