@import 'elements';

.comparison {
  img {
    max-width: 700px;
    margin: 0px auto;
    display: block;
  }
  
  .full-img {
    width: 100%;
    height: auto;
  }
  
  .testimonial {
    blockquote {
      margin: 40px 0;
      
      span {
        position: relative;
        font-size: 20px;
        font-family: 'Open Sans', Helvetica, sans-serif;
        font-weight: lighter;
        color: #545454;
        line-height: 1.6;
    
        &:before,
        &:after {
          font-size: 50px;
          font-family: Georgia, Times, serif;
          position: absolute;
          color: #BFBFBF;          
        }
    
        &:before {
          content: '\201C';
          left: -27px;
          top: -18px;
        }
    
        &:after {
          content: '\201D';
          right: -25px;
          bottom: -34px;
        }
      }
    }
  }
}